.dashboard-container {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 10px;
}
.dashboard-reportes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items: center;
}