.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(249, 246, 242);
  box-shadow: 0px 1px 5px black;
  position: sticky;
  top: 0;
}

.header-foto {
  width: 90px;
  height: 90px;
}

.header-menu {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-iniciales {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nombre {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
}

.header-cerrar {
  width: 150px;
  background-color: rgb(120, 1, 1);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
